@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.detail {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
        "titre"
        "image"
        "categorie"
        "type"
        "ingredient"
        "etape"
        "timing"
        "portion";
    justify-content: center;
    gap: 20px;

    .icon {
        border-radius: 5px;
        border: none;
        background-color: grey;
        margin-top: 2rem;
        width: 87px;
        height: 25px;
        cursor: pointer;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
    
        justify-self: start;

        &:hover {
            background-color: #FF3D3D;
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
        }
    }

    &__list {
        background: #f8f9fa;
        padding: 50px;
        margin: 10px 0;
        border-radius: 25px;
        width: 1200px;
        display: grid;
        justify-items: center;
        align-items: center;

        .detail-card {
            padding: auto;
            margin: auto;
            width: 100%;

            .titre {
                grid-area: titre;
                font-family: 'Pacifico';
                font-size: 3rem;
                font-weight: lighter;
            }

            .image {
                grid-area: image;
                height: 250px;
                width: 250px; 
                object-fit: cover;
                border-radius: 5px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            }

            .categorie {
                grid-area: categorie;
                font-family: 'Lora';
                font-weight: bold;
            }

            .type {
                grid-area: type;
                font-family: 'Lora';
                font-weight: bold;
            }

            .ingredient {
                grid-area: ingredient;
                font-family: 'Lora';
                font-weight: bold;
            }

            .etape {
                grid-area: etape;
                font-family: 'Lora';
                font-weight: bold;
            }

            .timing {
                grid-area: timing;
                font-family: 'Lora';
                font-weight: bold;
            }

            .portion {
                grid-area: portion;
                font-family: 'Lora';
                font-weight: bold;
            }

            p {
                font-family: 'Open sans';
                font-size: 16px;
                font-weight: lighter;
            }

            .details-info {
                align-items: flex-start;
            }
        }
    }
}